* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input {
  padding: 0.5rem;
  border: 1px #f1f1f1 solid;
  outline: none;
  width: 100%;
}
button {
  padding: 0.5rem;
  border: none;
}
button:hover {
  background-color: black;
  color: white;
  transition: all 0.15s ease-in-out;
}

body {
  display: grid;
  place-items: center;
}

.header {
  text-align: center;
  padding: 1rem 0;
}
.main {
  display: grid;
  place-items: center;
  width: 20vw;
}
.todo-list {
  min-height: 10vh;
  background-color: #f9f9f9;
  width: 100%;
  list-style: none;
  margin-bottom: 0.25rem;
}
.todo-list > li {
  display: flex;
  justify-content: space-between;
  width: 100%;

  font-weight: 500;
  font-size: 0.875rem;
  padding: 0.5rem 0.5rem;
}
.todo-list span {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;

  background: black;
  font-weight: 500;
  color: white;

  display: grid;
  place-items: center;
  visibility: hidden;
}
.todo-list > li:hover span {
  visibility: visible;
}
.todo-list > li:hover {
  background: rgba(0, 0, 0, 0.05);
}
